//! **************************************************************************
// Written by: Map P.68d on Tue Dec 18 01:06:19 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DPSwitch<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "DPSwitch<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "DPSwitch<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "DPSwitch<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "DPSwitch<4>" LOCATE = SITE "E18" LEVEL 1;
COMP "DPSwitch<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "DPSwitch<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "DPSwitch<7>" LOCATE = SITE "F17" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "SevenSegment<0>" LOCATE = SITE "A5" LEVEL 1;
COMP "SevenSegment<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "SevenSegment<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "SevenSegment<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "SevenSegment<4>" LOCATE = SITE "C4" LEVEL 1;
COMP "SevenSegment<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "SevenSegment<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "SevenSegment<7>" LOCATE = SITE "A3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "SevenSegmentEnable<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "SevenSegmentEnable<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "SevenSegmentEnable<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "IO_P6<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "IO_P6<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "IO_P6<2>" LOCATE = SITE "T4" LEVEL 1;
COMP "IO_P6<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "IO_P7<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "IO_P6<4>" LOCATE = SITE "U5" LEVEL 1;
COMP "IO_P7<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "IO_P6<5>" LOCATE = SITE "V5" LEVEL 1;
COMP "IO_P7<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "IO_P6<6>" LOCATE = SITE "R3" LEVEL 1;
COMP "IO_P7<3>" LOCATE = SITE "T8" LEVEL 1;
COMP "IO_P6<7>" LOCATE = SITE "T3" LEVEL 1;
COMP "IO_P8<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "IO_P7<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "IO_P8<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "IO_P7<5>" LOCATE = SITE "T5" LEVEL 1;
COMP "IO_P8<2>" LOCATE = SITE "R10" LEVEL 1;
COMP "IO_P7<6>" LOCATE = SITE "T9" LEVEL 1;
COMP "IO_P8<3>" LOCATE = SITE "T10" LEVEL 1;
COMP "IO_P7<7>" LOCATE = SITE "V9" LEVEL 1;
COMP "IO_P9<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "IO_P8<4>" LOCATE = SITE "U13" LEVEL 1;
COMP "IO_P9<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "IO_P8<5>" LOCATE = SITE "V13" LEVEL 1;
COMP "IO_P9<2>" LOCATE = SITE "J16" LEVEL 1;
COMP "IO_P8<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "IO_P9<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "IO_P8<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "IO_P9<4>" LOCATE = SITE "K15" LEVEL 1;
COMP "IO_P9<5>" LOCATE = SITE "K16" LEVEL 1;
COMP "IO_P9<6>" LOCATE = SITE "L15" LEVEL 1;
COMP "IO_P9<7>" LOCATE = SITE "L16" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "Switch<2>" LOCATE = SITE "M16" LEVEL 1;
COMP "Switch<3>" LOCATE = SITE "L17" LEVEL 1;
COMP "Switch<4>" LOCATE = SITE "K17" LEVEL 1;
COMP "Switch<5>" LOCATE = SITE "K18" LEVEL 1;
NET "clocking_Instant/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

